{% extends "base.html" %}

{% block title %}CSV 업로드{% endblock %}

{% block content %}
<article>
    <header>
        <h2>CSV 파일 업로드</h2>
    </header>

    <p>분실물 데이터를 일괄 등록하기 위해 CSV 파일을 업로드합니다. **(파일 인코딩: UTF-8)**</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <footer>
            <button type="submit" class="primary">업로드</button>
            <a href="/" role="button" class="secondary">목록으로</a>
        </footer>
    </form>
</article>
{% endblock content %}